body{
    margin: 0%;
    padding: 0%;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}
h1{
    text-align: center;
}
button{
    position: absolute;
    top: 50%;
    right: 50%;
    transform: translate(50%, -50%);
    font-size: 1.5em;
    border: none;
    background: none;
    color: white;
    cursor: pointer;
}